body {
    margin: auto;
    padding: 20px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/sports.png");
}

/* Holds the page content */
.container {
    margin: 20px 5% 5%;
}

/* Uniform styling for all buttons */
button, #addSport {
    margin: 5px 10px 5px 0px;
    padding: 10px;
    background: rgb(48, 130, 197);
    color: white;
    border: 1px solid rgb(48, 130, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 5px 3px #ccc;
}

#addSport {
    width: 100px;
}

button:hover, #addSport:hover {
    background: rgb(48, 130, 197, .8);
    border: 1px solid rgb(48, 130, 197);
    box-shadow: 7px 6px #ccc;
}

/* Used in a form that is currently commented out in the logic.js file */
form {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: rgb(48, 130, 197);
    margin-bottom: 10px;

}

/* Page Textg */
#sportText{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(48, 130, 197);
    width: 90%;
    border-radius: 10px;
}

/* Flex display the buttons and gifs on the page */
.sportGifs, .sportButtons, form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Margin between buttons and rest of content */
.sportButtons{
    margin-bottom: 20px;
}

/* Div to hold the gif, rating, and other info. */
.gifDiv {
    margin: 5px;
    border: 1px solid rgb(48, 130, 197);
    border-radius: 5px;
    padding: 10px;
    max-width: 100%;
    background: white;
}
img{
    max-width: 100%;
}